<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - PAW 2020</title>
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    {% endblock %}
</head>
<body>
    <header>{% block header %}{% endblock %}</header>
    <main>{% block main %}{% endblock %}</main>
    <footer>{% block footer %}
        <p class="footer"> Av. 16 de Septiembre No. 1002 A <br>
            Col. Ricardo Flores Magón. Veracruz, Ver. C.P. 91900 <br>
            Tel. (229) 932 2227 <br>
            veramedica@hotmail.com </p>
        {% endblock %}
    </footer>
</body>
</html>
