{% extends "base.html" %} {% block title %}View Appointment{% endblock %} {% block header %} {{ include('nav.views.html') }}
<link rel="stylesheet" type="text/css" href="/public/css/style.css"> {% endblock %} {% block head %} {{ parent() }}
<meta name="keywords" content="PAW,2020,Templates,PHP"> {% endblock %} {% block main %}
<form class="general-form">
    <label><b>Nombre: </b><input type="text" name="nombre" readonly value="{{ ap.nombre }}"></label><br>
    <label><b>Email: </b><input type="email" name="email" readonly value={{ ap.email }}></label><br>
    <label><b>Telefono: </b><input type="tel" name="telefono" readonly value={{ ap.telefono }}></label><br>
    <label><b>Edad: </b><input type="text" name="edad" readonly value={{ ap.edad }}></label><br>
    <label><b>Talla de calzado: </b><input type="text" name="talla_calzado" readonly value={{ ap.talla_calzado }}></label><br>
    <label><b>Altura: </b><input type="text" name="altura" readonly value={{ ap.altura }}></label><br>
    <label><b>Fecha de nacimiento: </b><input type="date" name="fecha_nacimiento" readonly value={{ ap.fecha_nacimiento }}></label><br>
    <label><b>Color de pelo: </b><input type="text" name="color_pelo" readonly value={{ ap.color_pelo }}></label><br>
    <label><b>Fecha de turno: </b><input type="date" name="fecha_turno" readonly value={{ ap.fecha_turno }}></label><br>
    <label><b>Horario de turno(hh:min): </b><input type="time" name="horario_turno" readonly value={{ ap.horario_turno }}></label><br> {% if (ap.diagnostico) %}
    <label><b>Diagnostico</b></label><br>
    <img width="40%" src="data:image/png;base64, {{diagnostico64}} " /> {% endif %}
</form>
{% endblock %}